html {
    text-align: center;
}

.weekheading {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

.firstbox {
    width: 320px;
    height: 320px;
    background-color: red;
    border: 2px solid black;
    margin: 10px 40px;
    
}

.horizontal_dashed_line {
    width: 320px;
    height: 320px;
    background-color: blue;
    border: 10px dashed yellow;
    border-width: 4px;
    margin: 10px 40px;
    
}

.thirdbox {
    width: 320px;
    height: 320px;
    background-color: green;
    border: 2px solid red;
    margin: 10px 40px;
    
}

h3 {
    color: blue;
    display: grid;
    margin: 40px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.changebox1 {
    width: 10px;
    height: 30px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin: 30px 30px 30px;
    background-color: grey;
}

h4 {
    color: blue;
    display: block;
    text-align: center;
    font-size:17px ;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}

.container.secondcontainer {
    background-color: grey;
    display: block;
    
}

.container.thirdcontainer {
    background-color: grey;
    display: block;
    width: 30px 30px 30px 30px;
    margin-right: 500px;
    
}