html {
    text-align: center;
}

.container.title {
    font: 18;
    margin-top: 50px 0px;
}

.h1 {
    text-decoration-line: underline;
    font-weight: 100;
    padding: 50px 0px;
   
}

.changelink {
    color: blue;
    text-decoration-line: underline;
}

.box1 {
    background: red;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    
}

.box2 {
    background: blue;
    border: 2px dashed yellow;
    margin: 0px 60px;
    width: 250px;
    height: 250px;
    
}

.box3 {
    background: green;
    border: 2px solid purple;
    width: 250px;
    height: 250px;
}

.changebtn {
    background: #c5c5c5;
    padding: 5px 10px;
    margin-right: 5px;
    margin-top: 15px;
    width: 100%;
    display: inline-block;

}

.hidebtn {
    background: #c5c5c5;
    padding: 5px 10px;
    width: 100%;
    display: inline-block;

}

.hidelink { 
    color: blue;
    text-decoration-line: underline;
}


.noleftpadding {
    padding-left:0;
   
}

.norightpadding {
    padding-left:0;
}

.restcolors {
    margin-top: 25px;
  
}

.newbox1 {
    background: yellow;
    border: 2px dotted pink;
}

.newbox2 {
    background: #00CED1;
    border: 2px solid #000000;
}

.newbox3 {
    background: #F4A460;
    border: 2px dotted #5FAFF5;
}

.newbox4 {
    background:#FFFFFF;
    border: 2px solid #FFFFFF;
}

.newchangelink {
    background: #1FC2DB;
    border: 2px solid #4C0082;
}

.newhidelink {
    background:#FFFFFF;
    border: 2px solid #FFFFFF;
}